<body class= "white p-5">
<h1 class= "text-center"> Day 2 Homework</h1>
<div class="mt-3 dark-background container p-3">
  <div class="row">
    <div class="col-sm-4">
      <div class="blue white d-flex justify-content-center py-5">
        Hello Box 1
      </div>
    </div>

    <div class="col-sm-4">
      <div class="yellow d-flex justify-content-center py-5">Hello Box 2</div>
    </div>

    <div class="col-sm-4">
      <div class="green white d-flex justify-content-center py-5">
        Hello Box 3
      </div>
    </div>
  </div>
  <div class="row mt-sm-3">

    <div class="col-sm-4">
      <div class="red white d-flex justify-content-center py-5">
        Hello Box 4
      </div>
    </div>
  
    <div class="col-sm-8">
      <div class="pink white d-flex justify-content-center py-5">
        Hello Box 5
      </div>
    </div>
    
  </div>
</div>


</body>
<router-outlet></router-outlet>